---
import Layout from '../layouts/Layout.astro'
import { Button } from '@/components/ui/button'
import { ImageGallery } from '@/components/image-gallery'
import { AndroidIcon, AppleIcon, SteamIcon, WindowsIcon } from '@/icons'
import { images } from '@/data/images'
import { systemRequirements } from '@/data/requirements'
import { ItemsSection } from '@/components/items-section'

const randomImage = images[Math.floor(Math.random() * images.length)].src
---

<Layout title="Cavescape">
	<main class="min-h-screen bg-zinc-900 text-white">
      {/* Hero Section */}
      <section
        id="hero"
        class="relative flex h-screen items-center justify-center overflow-hidden"
      >
        <div class="absolute inset-0 z-0">
          <img
            src={randomImage}
            alt="Cavescape Background"
            class="h-full w-full object-cover opacity-20"
          />
          <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 to-transparent" />
        </div>
        <div class="relative z-10 flex flex-col items-center gap-4 px-4 text-center">
          <h1 class="mb-2 font-bold text-5xl sm:text-6xl">Cavescape</h1>
          <p class="mx-auto mb-4 max-w-2xl text-lg text-zinc-300 sm:text-xl">
            Explore mysterious caves, discover powerful weapons, and survive the
            depths in this atmospheric 2D adventure
          </p>
          <a
            href="https://store.steampowered.com/app/3094540/Cavescape/"
            target="_blank"
            rel="noreferrer noopener"
            class="w-fit"
          >
            <Button
              size="lg"
              className="bg-green-600 text-foreground hover:bg-green-700"
            >
              <SteamIcon className="mr-1 size-8" />
              Wishlist on Steam
            </Button>
          </a>
          <a
            href="/#platforms"
            class="w-fit text-foreground/70 underline-offset-2 hover:underline"
          >
            See specs & platforms
          </a>
        </div>
      </section>

      {/* Items Section */}
      <ItemsSection client:only="react" />

      {/* Screenshots Section */}
      <section id="gallery" class="py-24">
        <div class="container mx-auto px-4">
          <h2 class="mb-16 text-center font-bold text-3xl sm:text-4xl">
            Screenshots
          </h2>
          <ImageGallery images={images} className="hidden sm:block" client:load client:only="react" />
          <div class="flex flex-col gap-4 sm:hidden">
            {images.map((image) => (
              <img
                src={image.src}
                alt={image.alt}
                class="rounded-xl"
              />
            ))}
          </div>
        </div>
      </section>

      {/* System Requirements Section */}
      <section id="requirements" class="py-24">
        <div class="container mx-auto px-4">
          <h2 class="mb-16 text-center font-bold text-3xl sm:text-4xl">
            System Requirements
          </h2>
          <div class="mx-auto grid max-w-4xl gap-8 md:grid-cols-2">
            <div class="mx-auto w-fit rounded-lg bg-zinc-900 p-6 text-center md:text-start">
              <h3 class="mb-4 font-bold text-2xl">Minimum</h3>
              <ul class="space-y-2">
                <li>Requires a 64-bit processor and operating system</li>
                {Object.entries(systemRequirements.minimum).map(
                  ([key, value]) => (
                    <li>
                      <span class="w-full">
                        <text class="text-zinc-400 capitalize">
                          {key === 'notes' ? 'Aditional Notes' : key}:
                        </text>{' '}
                        {value}
                      </span>
                    </li>
                  )
                )}
              </ul>
            </div>
            <div class="mx-auto w-fit rounded-lg bg-zinc-900 p-6 text-center md:text-start">
              <h3 class="mb-4 font-bold text-2xl">Recommended</h3>
              <ul class="space-y-2">
                <li>Requires a 64-bit processor and operating system</li>
                {Object.entries(systemRequirements.recommended).map(
                  ([key, value]) => (
                    <li>
                      <span class="w-full ">
                        <text class="text-zinc-400 capitalize">
                          {key === 'notes' ? 'Aditional Notes' : key}:
                        </text>{' '}
                        {value}
                      </span>
                    </li>
                  )
                )}
              </ul>
            </div>
          </div>
        </div>
      </section>

      {/* Platforms Section */}
      <section id="platforms" class="py-24">
        <div class="container mx-auto px-4 text-center">
          <h2 class="mb-8 font-bold text-3xl sm:text-4xl">
            Available Platforms
          </h2>
          <div class="flex flex-col flex-wrap items-center justify-center gap-8 sm:flex-row">
            <div class="flex items-center gap-3">
              <WindowsIcon className="size-8" />
              <span class="text-lg">Windows</span>
            </div>
            <div class="flex items-center gap-2">
              <AppleIcon className="size-8" />
              <span class="text-lg">IOS</span>
            </div>
            <div class="flex items-center gap-2">
              <AndroidIcon className="size-8" />
              <span class="text-lg">Android</span>
            </div>
          </div>
        </div>
      </section>
    </main>
</Layout>
